html, body {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    cursor: url('./images/pointer.png'), auto;
}

canvas {
    width: 100%;
    height: auto;
    background: #111;
}

#valentinesButton {
    display: none;
    position: absolute;
    background-color: #2d2dff;
    border: 2px solid #2d2dff;
    color: #fff;
    cursor: pointer;
    height: 50px;
    font-size: 16px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    border-radius: 10px;
    top: calc(50% + 150px); /* Adjust based on canvas height and text position */
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  #valentinesButton:hover {
    background-color: #1f1faa;
    color: #eee;
}
.music-controls {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.music-btn {
    background-color: #1f1faa;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.music-btn:hover {
    transform: scale(1.05);
    background-color: #1f1faa;
} 
